@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *,
    *::before,
    *::after {
        @apply box-border m-0 p-0;
    }

    body {
        @apply font-inter overflow-x-hidden bg-appBody text-appText;
    }
}